{% extends "base.html" %}

{% block content %}
<h1>Works log</h1>
{% for job in job_session %}
    <table>
        <caption>Action # {{ job.id }}</caption>
        <tr>
            <th>title of activity</th>
            <th>team leader</th>
            <th>duration</th>
            <th>list of collaborators</th>
            <th>is finished</th>
        </tr>
        <tr>
            <td>{{ job.job }}</td>
            <td>{{ user_session.filter(us.id == job.team_leader).first() }}</td>
            <td>{{ job.work_size }} hours</td>
            <td>{{ job.collaborators }}</td>
            {% if job.is_finished  %}
                <td class="finished">finished</td>
            {% else %}
                <td class="isnotfinished">is not finished</td>
            {% endif %}
        </tr>
    </table>
    <caption>
    </caption><br>
    {% if current_user.is_authenticated and current_user.id == job.creator %}
        <div>
            <a href="/add_job/{{ job.id }}" class="btn btn-warning"  bgcolor="#b9ba8d">
                Edit
            </a>
            <a href="/job_delete/{{ job.id }}" class="btn btn-danger" bgcolor="#8f546a">
                Delete
            </a>
        </div><br>
    {% endif %}
{% endfor %}

{% if current_user.is_authenticated %}
    <a href="add_job" class="btn btn-secondary">Add job</a>
{% endif %}

{% endblock %}